<div class="panel-wrapper">
    <p-panel header="Log In" [toggleable]="true">
        <div class="mt-1 p-fluid p-grid display">

            <div class="field col-3 md:col-3">
                <span class="p-float-label">
                  <input type="number" pInputText inputId="agentid" [(ngModel)]="agentid">
                  <label for="agentid">Agent ID</label>
                </span>
            </div>

            <div class="field col-3 md:col-3">
                <span class="p-float-label">
                  <input type="number" pInputText inputId="agentpin" [(ngModel)]="agentpin">
                  <label for="agentid">Agent Pin</label>
                </span>
            </div>

            <div class="field col-3 md:col-3">
                <span class="p-float-label">
                  <input type="number" pInputText inputId="station" [(ngModel)]="station">
                  <label for="station">Station ID</label>
                </span>
            </div>

            <div class="button-width col-3 md:col-3">
                <button pButton type="button" class="p-button-info" (click)="login(agentid, agentpin, station)">Login</button>
            </div>
        </div>
    </p-panel>
</div>